.container{
    max-width: 1200px;
    margin: auto;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
}
.navbar-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}
.menu-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-left: 1px solid #f2eee5;
    border-right: 1px solid  #f2eee5;
    background: transparent;
    height: 80px;
    width: 60px;
}
.menu-button-line{
    display: block;
    width: 22px;
    height: 3px;
    background-color:rgb(43, 70, 226);
    margin: 2px 0;
}
.logo-text{
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.logo-descr{
    display: block;
    font-size: 14;
    color: #262626;
}
.phone a{
    display: block;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(26, 26, 26);
}
.work-time{
    display: block;
    text-align: right;
    font-size: 14px;
    color: #262626;
}
.email-text{
    display: block;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(26, 26, 26);
}
.email a{
    display: block;
    text-align: right;
    font-size: 14px;
    color: #262626;
}
.navbar-button{
    border: 2px solid  #f2eee5 ;
    padding: 17px 22px;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(43, 70, 226);
    background: transparent;
    font-weight: bold;
}
.hero{
    background: #f2eee5 url(/img/bg1.jpg) no-repeat center;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 270px;
}
.hero-title{
    font-size: 30px;
    margin-bottom: 40px;
}
.hero-subtitle{
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 70px;
}
.button{
    border: none;
    text-transform: uppercase;
    padding: 25px 45px;
    background-color: rgb(43, 70, 226);
    color: #ffffff;
    font-weight: bold;
}
.advantages{
    padding-bottom: 60px;
}
.main-title{
    display: block;
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}
.grid-3{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 300px;
    grid-template-columns: 1fr 1fr 1fr;
}
.adv-img{
    width: 200px;
    height: 200px;
    border-style: solid;
}
.prices{
    padding-bottom: 500px;
    background-color: #f2eee5;
}
.order{
    padding-bottom: 500px;
}
.reviews{
    background-color: #f2eee5;
    padding-bottom: 60px;
}
.grid-4{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 120px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.review-img{
    width: 200px;
    height: 200px;
    border-style: solid;
}
.footer{
    text-align: center;
    padding: 15px;
    color: black;
}